* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  /* font-family: "Noto Sans"; */
  /* font-family: "Ubuntu"; */
}

:root {
  --primaryColor: #42455a;
  --secondaryColor: red;
  --mainTransition: all 0.4s linear;
}

.container {
  background-color: var(--primaryColor);
  width: 100vw;
  height: 100vh;
}

.menu ul {
  display: inline-flex;
  margin: 50px;
}

.menu li {
  list-style: none;
  margin: 0 20px;
  color: #b2b1b1;
  cursor: pointer;
}

.fa-bomb {
  margin-top: -25px;
  /* color: radial-linear(#fd00da, #19d7f8); */
  color: white;
}

.sign {
  top: 40px;
  right: 80px;
  position: absolute;
  text-decoration: none;
  color: white;
  border: 2px solid transparent;
  border-radius: 10px;
  background-image: linear-gradient(var(--primaryColor), var(--primaryColor)),
    radial-gradient(circle at top left, #fd00da, #19d7f8);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.sign span {
  padding: 8px 22px;
  display: block;
}

.banner {
  color: white;
  width: 75%;
  height: 70%;
  top: 25%;
  left: 130px;
  position: absolute;
}

.app-text {
  width: 50%;
  float: left;
}

.app-text h1 {
  font-size: 43px;
  width: 100%;
  position: relative;
  margin-left: 40px;
}

.app-text p {
  font-size: 15px;
  width: 100%;
  margin: 30px 0px 30px 40px;
  line-height: 25px;
  color: #919191;
}

.app-picture {
  width: 50%;
  float: right;
}

.app-picture img {
  width: 100%;
  margin-top: -20px;
  padding: 50px;
}
/* ========= 1. TLAČO ============== */
.btn {
  margin-left: 40px;
  border: 2px solid transparent;
  border-radius: 50px;
  background-image: linear-gradient(var(--primaryColor), var(--primaryColor)),
    radial-gradient(circle at top left, #fd00da, #19d7f8);
  background-origin: border-box;
  background-clip: content-box, border-box;
  text-align: center;
  font-size: 25px;
}

.fa-plane {
  cursor: pointer;
}

small {
  padding-top: -30px;
  cursor: pointer;

  text-transform: uppercase;
  letter-spacing: 3px;
  color: #19dafa;
  display: inline;
}
/* ========= 2. TLAČO ============== */
.play-btn {
  margin-left: 40px;
  display: inline-flex;
}

.play-btn-inner {
  height: 50px;
  width: 50px;
  border: 2px solid transparent;
  border-radius: 50%;
  background-image: linear-gradient(var(--primaryColor), var(--primaryColor)),
    radial-gradient(circle at top left, #fd00da, #19d7f8);
  background-origin: border-box;
  background-clip: content-box, border-box;
  text-align: center;
}

.fa-plane {
  padding: 15px;
  font-size: 19px;
  cursor: pointer;
}

small {
  margin: auto 20px;
  cursor: pointer;
  font-size: 12px;
  color: #19dafa;
  letter-spacing: 3px;
}

.quick-links {
  left: 0;
  bottom: 0;
  position: absolute;
  background: linear-gradient(to right, #db1bf6, #19d7f8);
}

.quick-links ul {
  display: inline-flex;
  margin: 30px auto;
  text-align: center;
}

.quick-links ul li {
  list-style: none;
  margin: 0 50px;
  cursor: pointer;
}

.quick-links ul li .fas {
  font-size: 25px;
  color: white;
}

.quick-links ul li p {
  /* margin-top: 15px; */
  font-size: 10px;
  color: white;
}

.social-icons {
  right: 72px;
  bottom: 35px;
  position: absolute;
}

.social-icons ul li {
  list-style: none;
  margin-top: 15px;
  cursor: pointer;
  text-align: center;
}

.social-icons ul li a {
  color: #999;
  border-radius: 50%;
  border: 1px solid #999;
  padding: 5px;
  display: block;
}
